<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


<h1>{{title}}</h1>
<p>Watson says:</p>
<div id="watsonSays"></div>

<br/>

<p>You say:</p>
<input id="youSay"></input>

<script src="javascripts/index.js"></script>



